# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Temporary files
*.tmp
*.temp

# Large/generated model files
similarity.pkl